* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#outer-broadcast {
    width: 100dvw;
    height: 87dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-broadcast {
    width: 80%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#aside2-broadcast {
    background-color: rgba(255, 255, 255, 0.085);
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside1-ele1-options-broadcast {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    width: 55%;
    height: 11%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.aside1-ele1-options-broadcast:hover {
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.07);
    transition: all 0.6s ease-in-out;
}

#aside1-ele1-option7:hover {
    background-color: rgba(240, 248, 255, 0.485);
    transition: all 0.6s ease-in-out;
}

.broadcast-aside2-ele {
    /* border: 1px solid white; */
    width: 96%;
    height: 94%;
}

#broadcast-aside2-ele1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    overflow-y: auto;
}

#broadcast-aside2-ele2 {
    display: none;
}

.broadcast-aside2-inner-ele1 {
    width: 100%;
    min-height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0 10px 0 10px;
}

#broadcast-aside2-ele1::-webkit-scrollbar {
    width: 5px;
}

#broadcast-aside2-ele1::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 10px;
}

.sidebar2-ele {
    width: 100%;
    min-height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 30px; */
}

.writer {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 95%;
}

.writer p {
    font-weight: 300;
    font-family: 'Josefin Sans';
    color: rgb(208, 208, 208);
}

.title {
    width: 95%;
}


.title p {
    font-family: 'Josefin Sans';
    font-size: 2rem;
}

.date {
    width: 95%;
}

.date p {
    padding-left: 4px;
    font-weight: 300;
    font-family: 'Josefin Sans';
    font-size: 1.1rem;
}

.details-btn {
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
    border: none;
    width: 140px;
    border-radius: 16px;
    height: 100%;
    cursor: pointer;
    font-size: 0.8rem;
    color: #c8c8c8;
}

.details-btn:hover {
    background-color: rgb(116 116 116 / 36%);
}

.all-details-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 33px;
}

.all-details-btn div {
    /* border: 1px solid; */
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interested {
    background-color: rgb(35, 35, 35);
    width: 70%;
    border-radius: 30px;
}

#interested:hover {
    background-color: rgb(116 116 116 / 36%);
}

.delete-broadcast {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #8a0404;
}

.delete-broadcast img {
    width: 60%;
}

.delete-broadcast:hover {
    background-color: red;
}

.delete-broadcast,
.interested {
    border: none;
    height: 100%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.73);
    font-family: 'Josefin Sans';
    font-size: 0.9rem;
}

#outer-add-broadcast {
    width: 100dvw;
    height: 100dvh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    backdrop-filter: blur(4px);
}

#inner-add-broadcast {
    box-shadow: 0 0 22px gray;
    width: 42%;
    border-radius: 18px;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
    gap: 5px;
}

#inner-add-broadcast-ele1 {
    /* border: 1px solid; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: start;
}

#add-broadcast-cross-btn {
    border-top-right-radius: 18px;
    border: none;
    background-color: transparent;
    height: 80%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add-broadcast-cross-btn:hover {
    background-color: rgba(195, 0, 0, 0.918);
}

#inner-add-broadcast-ele2 {
    /* border: 1px solid; */
    width: 90%;
    height: 85%;
}

#inner-add-broadcast-ele2 form {
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#add-date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    height: 10%;
}

.add-broadcast-form-inp,
#add-date-time input {
    width: 80%;
    height: 10%;
    border-radius: 15px;
    border: 3px solid rgb(193 193 193);
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.05rem;
    background-color: rgba(255, 255, 255, 0.204);
    font-weight: 400;
    font-family: 'Josefin Sans';
}

#add-date-time input {
    width: 40%;
    height: 95%;
}

.add-broadcast-form-inp textarea {
    color: rgb(255, 255, 255);
    font-size: 1.05rem;
    font-weight: 400;
    font-family: 'Josefin Sans';
    height: 80%;
    width: 97%;
    resize: none;
    background-color: transparent;
    border: none;
    padding-right: 2px;
}

.add-broadcast-form-inp textarea:focus{
    outline: none;
}

#textarea {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-add-broadcast-ele2 form input:focus {
    outline: none;
    border: 3px solid #ffffff;
}

#inner-add-broadcast-ele2 form textarea::-webkit-scrollbar {
    width: 5px;
}

#inner-add-broadcast-ele2 form textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 10px;
}

#add-broadcast-btn{
    background-color: #ffffff0f;
    border: 2px solid;
    width: 150px;
    height: 10%;
    cursor: pointer;
    border-radius: 14px;
    font-size: 1.1rem;
    letter-spacing: 3px;
}

#add-broadcast-btn:hover{
    background-color: #ffffff1f;
    transition: all 0.4s ease-in-out;
}