@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Moon+Dance&display=swap');

html {
    scroll-behavior: smooth;
}

#home-page1 {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 10px;
}

#web-name {
    font-family: "Josefin Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16vw;
    background: linear-gradient(to right, rgb(255, 94, 0), rgb(255, 94, 0), #FF0000, #FF0000);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

#outer-webname-dot {
    /* border: 1px solid white; */
    width: 92px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#webname-dot {
    border: 2px solid white;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


#outer-about-this-website {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5dvh;
}

#about-this-website {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

#about-this-website h1,
#about-this-website p,
#guide-box-heading h1,
.inner-guide-box,
#getInTouch-head,
#review-form input {
    opacity: 0;
}

#about-this-website h1 {
    font-size: 4.5vw;
    background: linear-gradient(77deg, rgb(255 255 255), rgb(180 180 180), #616161, #6f6f6f);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about-this-website p {
    font-size: 2.4rem;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: lighter;
    word-spacing: 20px;
    font-family: "Moon Dance";
    color: #9c9b9b;
}

#outer-guide-box {
    width: 100%;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10dvh;
}

#guide-box-heading {
    width: 80%;
    display: flex;
    justify-content: center;
    height: 20dvh;
}

#guide-box-heading h1 {
    font-size: 4.5vw;
    background: linear-gradient(77deg, rgb(255 255 255), rgb(180 180 180), #616161, #6f6f6f);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inner-guide-box {
    width: 85%;
    height: 50dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.guide-box-img {
    width: 618px;
    height: 80%;
    box-shadow: 0 0 15px rgb(180 180 180 / 50%);
}

.guide-box-img img {
    width: 100%;
    height: 100%;
}

.guide-box-para {
    width: 563px;
    height: 80%;
    font-size: 1.2rem;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mostouter-getInTouch {
    height: 99dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#outer-getInTouch {
    height: 85%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

#getInTouch-head {
    font-size: 4.5vw;
    background: linear-gradient(77deg, rgb(255 255 255), rgb(180 180 180), #616161, #6f6f6f);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#GIT-outer-form {
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#review-form {
    width: 88%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#review-form input {
    width: 270px;
    height: 39px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    font-weight: 600;
    color: white;
    font-size: 1rem;
}

#review-form input:focus {
    outline: none;
    border-bottom: 1px solid rgb(255, 60, 0);
    transition: all 0.5s ease-in-out;
}

textarea {
    width: 97%;
    background-color: transparent;
    border: 1px solid gray;
    font-weight: 600;
    padding: 10px;
    resize: none;
    color: white;
    font-size: 1rem;
}

textarea:focus {
    outline: none;
    border: 1px solid rgb(255, 60, 0);
    transition: all 0.5s ease-in-out;
}

#inner-form {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

#form-btn {
    color: white;
    border: 2px solid rgba(103, 103, 103, 0.8);
    background-color: transparent;
    margin: 46px 0 0 0;
    height: 40px;
    width: 138px;
    font-size: 0.9rem;
}

#form-btn:hover {
    border: 2px solid rgb(255, 94, 0);
    cursor: pointer;
    background-color: rgb(255, 94, 0);
    transition: all 0.6s ease-in-out;
}

#outer-footer {
    border-top: 1px solid rgb(54, 54, 54);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-footer {
    height: 50%;
    width: 80%;
}

hr {
    width: 80%;
}

#footer {
    width: 97%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer-logo {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
}

#footer-logo img {
    width: 51px;
    height: 71px;
}

#inner-footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer2-ele1 {
    width: 225px;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-ele:hover {
    font-size: 1.45rem;
}

#footer2-ele1 a img {
    width: 35px;
    border-radius: 10px;
}

#footer2-ele1 a img:hover {
    background-color: rgb(51, 51, 51);
    transition: all 0.6s ease-in-out;
}

#bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-size: 1.3rem;
}

@media (max-width: 1200px) {
    #about-this-website h1 {
        font-size: 5.5vw;
    }

    #guide-box-heading h1 {
        font-size: 5.5vw;
    }

    #guide-box-heading {
        height: 10dvh;
    }

    .guide-box {
        flex-direction: column;
    }

    .opposite-guide-box {
        flex-direction: column-reverse;
    }

    .guide-box-para {
        justify-content: start;
    }

    .inner-guide-box {
        gap: 28px;
    }

    #mostouter-getInTouch {
        height: 96dvh;
        margin-top: 0;
    }

    #review-form input {
        width: 100%;
    }

    #outer-footer {
        height: 37vh;
    }

    #footer {
        justify-content: center;
    }

    #bar {
        display: none;
    }
}

@media (max-width:440px) {

    #about-this-website {
        width: 90%;
        gap: 50px;
    }

    #about-this-website h1 {
        font-size: 8.5vw;
    }

    #about-this-website p {
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 34px;
        font-weight: lighter;
        word-spacing: 2px;
        font-family: "Moon Dance";
        color: #a3a1a1;
    }

    #outer-guide-box {
        gap: 30px;
    }

    #guide-box-heading h1 {
        font-size: 6.5vw;
    }

    .guide-box-img {
        width: 98%;
    }

    .guide-box-para {
        width: 95%;
        height: 80%;
        font-size: 0.8rem;
        line-height: 24px;
    }

    #outer-getInTouch {
        height: 100%;
        width: 100%;
        gap: 24px;
    }

    #getInTouch-head {
        font-size: 7.5vw;
    }

    #GIT-outer-form {
        width: 90%;
        height: 83%;
    }

    #review-form {
        width: 96%;
        height: 100%;
        gap: 11px;
    }

    #form-btn {
        color: white;
        margin: 20px 0 0 0;
        height: 40px;
        width: 130px;
        font-size: 0.9rem;
    }

    #outer-footer {
        height: 34vh;
    }

    #footer-logo h2 {
        font-size: 1.5rem;
    }

    #footer-logo img {
        width: 33px;
        height: 54px;
    }

    #footer2-ele1 a img {
        width: 29px;
    }
}