* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#outer-marketplace {
    width: 100dvw;
    height: 87dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-marketplace {
    width: 80%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.aside {
    background-color: rgba(255, 255, 255, 0.085);
    height: 98%;
    border-radius: 27px;
}

#aside1 {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aside2 {
    background-color: transparent;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inner-aside2-ele {
    border-radius: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.085);
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-aside2-ele1 {
    height: 15%;
}

#inner-aside2-ele2 {
    height: 81%;
}

#aside1-ele1-outer-options {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aside1-ele1-options {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    width: 55%;
    height: 11%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.aside1-ele1-options:hover {
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.07);
    transition: all 0.6s ease-in-out;
}

#aside1-ele1-option7 {
    background-color: transparent;
    font-size: 1.2rem;
    width: 55%;
    height: 11%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border: 2px solid white;
}

#aside1-ele1-option7:hover {
    background-color: rgba(240, 248, 255, 0.485);
}

#inner-aside2-ele1-filter {
    /* border: 1px solid; */
    width: 92%;
    height: 80%;
}

#inner-aside2-ele1-filter form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inner-aside2-ele1-filter form select {
    border: none;
    background-color: black;
    font-size: 1.05rem;
    width: 28%;
    height: 63%;
    border-radius: 30px;
    padding: 0 0 0 10px;
    cursor: pointer;
}

#inner-aside2-ele1-filter form select:focus {
    outline: none;
}

#inner-aside2-ele1-filter form select option {
    background-color: black;
}

#filterApply {
    font-size: 1.05rem;
    border: 1px solid;
    background-color: black;
    width: 14%;
    height: 63%;
    border-radius: 27px;
    cursor: pointer;
}

#filterApply:hover {
    background-color: rgba(255, 255, 255, 0.07);
    transition: all 0.4s ease-in-out;
}

#most-outer-add-item {
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

#outer-add-item {
    /* border: 1px solid white; */
    box-shadow: 0 0 22px gray;
    width: 28%;
    border-radius: 18px;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
    gap: 5px;
}

#add-item-cross-btn {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#add-item-cross-btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    width: 34px;
    height: 100%;
    border-top-right-radius: 18px;
}

#add-item-cross-btn button:hover {
    background-color: red;
}

#add-item-cross-btn button img {
    width: 65%;
    height: 100%;
}

#outer-add-item form {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#outer-add-item form button {
    background-color: transparent;
    border: 1px solid white;
    width: 43%;
    height: 8%;
    border-radius: 11px;
    cursor: pointer;
}

#outer-add-item form button:hover {
    background-color: rgba(255, 255, 255, 0.126);
    transition: all 0.6s ease-in-out;
}



#outer-add-item form input,
#outer-add-item form select,
#add-item-image {
    width: 95%;
    padding: 0 0 0 12px;
    font-size: 1rem;
    border-radius: 17px;
    height: 12%;
    border: 2px solid gray;
    background: rgba(46, 46, 46, 0.833);
    color: rgb(207, 205, 205);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25%;
}

#outer-add-item form #itemImage {
    border: none;
    border-radius: 0;
    background-color: transparent;
    width: 32%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-add-item form select {
    width: 98%;
}

#outer-add-item form input::placeholder,
#outer-add-item form select::placeholder {
    color: rgb(207, 205, 205);
}

#outer-add-item form select:focus {
    outline: none;
}

#outer-add-item form select option {
    background-color: black;
}

#item-outer-box {
    /* border: 1px solid; */
    width: 96%;
    height: 93%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#item-outer-box::-webkit-scrollbar {
    width: 7px;
}

#item-outer-box::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    width: 5px;
}

.outer-foodItems {
    /* border: 1px solid; */
    width: 196px;
    height: 310px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.outer-foodItems p {
    font-size: 1.1rem;
}

.product-image {
    /* border: 1px solid; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 90%;
    height: 87%;
}

.outer-details-btn {
    width: 91%;
    height: 11%;
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.detail-btn,
.delete-item-btn {
    height: 100%;
    width: 80%;
    background-color: #1a1919;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.detail-btn:hover {
    background-color: #333;
}

.delete-item-btn {
    border-radius: 6px;
    border: none;
    width: 17%;
    display: flex;
    justify-content: center;
    background-color: #8a1616;
    align-items: center;
}

.delete-item-btn img {
    height: 55%;
    max-width: 90%;
}

.delete-item-btn:hover {
    background-color: #d01717;
}

#outer-details-of-item {
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

#inner-details-of-item {
    box-shadow: 0 0 19px #8a92a3;
    border-radius: 15px;
    width: 47%;
    height: 55%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#detail-cross-btn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#detail-cross-btn button {
    background-color: transparent;
    border-top-right-radius: 15px;
    border: none;
    height: 100%;
    width: 42px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-cross-btn button:hover {
    background-color: red;
}

#most-inner-details-of-item {
    /* border: 1px solid; */
    height: 84%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inner-details-of-item1 {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#inner-details-of-item1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#inner-details-of-item2 {
    width: 60%;
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-box2-ele {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#detail-box2-ele2 p,
.detail-box2-ele h2 {
    color: rgb(192, 192, 192);
}

.detail-box2-ele h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.detail-box2-ele p {
    margin: 0 0 0 10px;
    font-size: 1.05rem;
}

#no-items-found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-page {
    width: 100%;
    /* border-radius: 20px; */
    height: 100%;
    display: none;
}

#profile-sideBar2 {
    width: 100%;
    height: 94%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.inner-profile-sideBar2-ele {
    /* border: 1px solid; */
    background-color: black;
    border-radius: 10px;
    width: 96.5%;
    min-height: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}


#inner-profile-pic {
    border: 1px solid rgb(255 255 255 / 88%);
    width: 13%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 70px;
    overflow: hidden;
    /* box-shadow: 0 0 16px #999999; */
}

#inner-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inner-profile-username {
    height: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inner-profile-username h2,
#inner-profile-username h2,
#inner-profile-username p span {
    font-size: 2rem;
    color: rgb(222, 222, 222);
    font-family: 'Josefin Sans';
    font-weight: 300;
}

#inner-profile-username p {
    display: flex;
    justify-content: center;
    gap: 36px;
}

#inner-profile-username p span {
    font-size: 1rem;
}


#inner-profile-sideBar2-ele2 {
    height: 75%;
    flex-direction: column;
    justify-content: start;
    padding-top: 10px;
    gap: 10px;
}

#posts-head {
    height: 10%;
}

#posts {
    background-color: rgba(255, 255, 255, 0.085);
    border-radius: 10px;
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-posts {
    width: 98%;
    height: 95%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

#inner-posts::-webkit-scrollbar {
    width: 5px;
}

#inner-posts::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 10px;
}

#profile-item-outer-box {
    /* border: 1px solid; */
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#profile-item-outer-box::-webkit-scrollbar {
    width: 7px;
}

#profile-item-outer-box::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    width: 5px;
}

.profile-outer-foodItems {
    /* border: 1px solid; */
    width: 182px;
    height: 238px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 5px;
}

.profile-outer-foodItems p {
    font-size: 1rem;
}

.profile-outer-details-btn {
    width: 91%;
    height: 12%;
    margin: 7px 0 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}